@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --primary-color: #562eff;
  --secondary-color: #ffffff;
  --tertiary-color: #e5e5e5;
  --primary-text: #562eff;
  --secondary-text: #1e1e1e;
}
* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}
body {
  background-color: var(--tertiary-color);
}
nav {
  display: flex;
  padding: 0 20%;
  background-color: var(--primary-color);
  justify-content: space-between;
  height: 94px;
  align-items: center;
  color: var(--secondary-color);
}
nav img {
  width: 50px;
  height: 50px;
}
nav ul,
a {
  align-items: inherit;
  display: flex;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: var(--secondary-color);
}
.logo-container {
  gap: 15px;
}
.nav-container {
  gap: 35px;
}
main {
  margin: 40px 20%;
  padding: 33px;
  border-radius: 5px;
  background-color: var(--secondary-color);
}
.player-container {
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}
.player-container img {
  max-width: 60px;
  height: auto;
}
.player-container > div {
  display: flex;
  align-items: center;
  gap: 16px;
}
hr {
  margin: 40px;
  border-top: 1px solid gray;
}
header {
  color: var(--primary-text);
}
.blog-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 40px;
}
.blog-container img {
  max-width: 180px;
  max-height: 110px;
}
.blog {
  display: flex;
  gap: 16px;
}
.blog > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.blog .author {
  color: var(--primary-text);
}
.blog > div:last-child > div > span:first-child {
  color: gray;
}
