@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --primary-color: #562eff;
  --secondary-color: #ffffff;
  --tertiary-color: #9f9f9f;
  --primary-text: #562eff;
  --secondary-text: #1e1e1e;
}
* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}
nav {
  display: flex;
  padding: 0 20%;
  background-color: var(--primary-color);
  justify-content: space-between;
  height: 94px;
  align-items: center;
  color: var(--secondary-color);
}
nav img {
  width: 50px;
  height: 50px;
}
nav ul,
a {
  align-items: inherit;
  display: flex;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: var(--secondary-color);
}
.logo-container {
  gap: 15px;
}
.nav-container {
  gap: 35px;
}
